= simple_form_for @product, class: "form-horizontal" do |f|
  = f.input :name
  = f.input :description, input_html: { rows: 4 }
  = f.label :on_sale
  = f.check_box :on_sale
  %br
  %br
  = f.input :price
  = f.input :qty

  .many_buttons
    = f.submit class: "btn btn-primary"
    = link_to "Cancel", products_path, class: "btn btn-warning"
