.a-product

  .picture
    = picture_for @product

  .info
    %h2
      %strong= @product.name
    %br
    %h3
      Price:
      %span= number_to_currency @product.price
    %p 
      Available:
      %span= @product.on_sale_text

    - if user_signed_in?
      = link_to "Add to Cart", line_items_path(product_id: @product.id),     
      method: :post, class: "large button main"

  .desc
    %h2 Description:
    %p= @product.description
