<!DOCTYPE html>
%html
  %head
    %title e-commerce Admin Site
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "bootstrap_and_overrides", media: "all"
    = stylesheet_link_tag "main", media: "all"
    = stylesheet_link_tag "datepicker", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render "shared/users_bar"

    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert
 
    #forms-content
      #one-form
        = yield
